# Android
AndroidApp/.gradle/
AndroidApp/.idea/
AndroidApp/build/
AndroidApp/.kotlin/
AndroidApp/local.properties

# Flutter
FlutterApp/.dart_tool/
FlutterApp/.flutter-plugins
FlutterApp/build/
FlutterApp/ios/Flutter/.symlinks/

# General
.DS_Store
*.iml
